<!DOCTYPE html>
<html lamg="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gmail index</title>
    <!-- bootstrap(css)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- end bootstrap(css) -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ここからGmailを送りましょう</a>
        </div>
    </nav>
    <main class="main-form moji">
    <h1 class="mt-5">貴重な意見をありがとうございます</h1>
    <!--<img src="C:\Users\hirot\mypython\gmail\buta.png" alt="ありがとう">
    -->
    <a href="/">topへ戻る</a>
    </main>
</body>

</html>